/* Styles généraux pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0eeee;
}

/* Styles pour coller le header en haut de la page */

header {
    position: sticky;
    top: 0;
    background-color: #f0eeee;
}

/* Styles des titres */
h1, h2, h3, h4, h5, h6 {
    color: #0e7a20; 
}

/* Styles du menu de navigation */
nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
}

/* Style pour le fond et l'espace des sections */
section {
    margin-top: 20px;
    background-color: #f4f4f4;
}

/* Style pour les encarts "note" */
.note {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px;
    margin-top: 20px;
}

