/* Styles généraux pour le corps de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    line-height: 1.6;
}

/* Styles pour le header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

header img {
    border-radius: 50%;
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

/* Styles pour les sections */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Styles pour les divs à l'intérieur des sections */
section > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

section > div > div {
    padding: 10px;
    flex: 1;
}

/* Styles pour la liste des projets */
.list-group {
    list-style: none;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.list-group-item strong {
    color: #4CAF50;
}

